<mat-card appearance="outlined">
  <mat-card-header>Users</mat-card-header>
  <mat-card-content>
    <ul>
      @for (user of (users$ | async); track user) {
      <li>
        <a (click)="getUserAccessToken(user.email, $index)">{{ user.email }}</a>
      </li>
      }
    </ul>
  </mat-card-content>
</mat-card>
@if(loading$ | async) {

<div class="spinner-container">
  @if(customLoadingIndicator) {

  <ng-container *ngTemplateOutlet="customLoadingIndicator" />

  } @else {

  <mat-spinner />

  }
</div>

}

<mat-card appearance="outlined" *ngIf="showPatientRecord">
  <mat-card-header (click)="updateCSRAccessToken()">Patient Record</mat-card-header>
  <mat-card-content>
    <pre>
      <code [highlight]="patientRecord|json"
        language="json"
        lineNumbers></code>
    </pre>
  </mat-card-content>
</mat-card>
<mat-card appearance="outlined" *ngIf="showCSRAccessTokenCard">
  <mat-card-header (click)="updateCSRAccessToken()">CSR AccessToken (original)</mat-card-header>
  <mat-card-content>
    <div class="flex-container preCode" *ngIf="showCSRAccessToken">
      <mat-card appearance="outlined" class="card">
        <mat-card-header>JWT</mat-card-header>
        <mat-card-content>
          <app-jwthighlight [jwt]="csrAccessToken"></app-jwthighlight>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="card">
        <mat-card-header>Decoded JSON</mat-card-header>
        <mat-card-content>
          <pre>
            <code [highlight]="decodedCsrAccessToken|json"
            language="json"
                  lineNumbers></code>
          </pre>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined" *ngIf="showWorkforceAccessTokenCard">
  <mat-card-header (click)="updateWorkforceAccessToken()">CSR AccessToken (workforce federated)</mat-card-header>
  <mat-card-content>
    <div class="flex-container preCode" *ngIf="showWorkforceAccessToken">
      <mat-card appearance="outlined" class="card">
        <mat-card-header>JWT</mat-card-header>
        <mat-card-content>
          <app-jwthighlight [jwt]="workforceAccessToken"></app-jwthighlight>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="card">
        <mat-card-header>Decoded JSON</mat-card-header>
        <mat-card-content>
          <pre>
            <code [highlight]="decodedWorkforceAccessToken|json"
            language="json"
                  lineNumbers></code>
          </pre>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined" *ngIf="showUserAccessTokenCard">
  <mat-card-header (click)="updateUserAccessToken()">User AccessToken</mat-card-header>
  <mat-card-content>
    <div class="flex-container preCode" *ngIf="showUserAccessToken">
      <mat-card appearance="outlined" class="card">
        <mat-card-header>JWT</mat-card-header>
        <mat-card-content>
          <app-jwthighlight [jwt]="userAccessToken"></app-jwthighlight>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="card">
        <mat-card-header>Decoded JSON</mat-card-header>
        <mat-card-content>
          <pre>
            <code [highlight]="decodedUserAccessToken|json"
            language="json"
                  lineNumbers></code>
          </pre>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined" *ngIf="showDelegatedAccessTokenCard">
  <mat-card-header (click)="updateDelegatedAccessToken()">Delegated AccessToken</mat-card-header>
  <mat-card-content>
    <div class="flex-container preCode" *ngIf="showDelegatedAccessToken">
      <mat-card appearance="outlined" class="card">
        <mat-card-header>JWT</mat-card-header>
        <mat-card-content>
          <app-jwthighlight [jwt]="delegatedAccessToken"></app-jwthighlight>
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="card">
        <mat-card-header>Decoded JSON</mat-card-header>
        <mat-card-content>
          <pre>
            <code [highlight]="decodedDelegatedAccessToken|json"
            language="json"
                  lineNumbers></code>
          </pre>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>